{{>header}}

<!-- Profile -->

<div class="container home wrapper  my-md-5 pl-md-5">
  <div class="profile home-text col-md-6 text-center col-lg">
    <img class="profile-img" src="./images/user.png" />
    <div class="profile-info">
      <p>Username: <small>{{email}}</small></p>
      <p class="infoType">Has {{ useritemsCount}} ideas =)</p>
      {{#each useritems}}
      <p>{{this}}</p>
      {{else}}
      <p>No ideas yet</p>
      {{/each}}
    </div>
  </div>
</div>

<!-- Profile -->
{{>footer}}