<!-- Navigation -->
    <header>
        {{#if isLoggedIn}}
        <h1><a class="home" href="#/item/list">SoftWiki</a></h1>
        <nav class="nav-buttons">
            <a href="#/item/create">Create</a>
            <a href="#/user/logout">Logout</a>
        </nav>
        {{else}}
        <h1><a class="home" href="#/user/login">SoftWiki</a></h1>
        <nav class="nav-buttons">
            <a href="#/user/register">Register</a>
        </nav>
        {{/if}}
    </header>
<!-- /Navigation -->
