{{>header}}
 
  <!-- Profile -->

  <div class="profile col-md-6 text-center col-lg">
    <img class="profile-img" src="./images/user.png" />
    <div class="profile-info">
      <p>Username: <small>{{email}}</small></p>
      <p class="infoType">Wished {{ userTreksCount}} treks =)</p>

      {{#each userTreks}}
      <p>{{this}}</p>
      {{else}}
      <p>No treks</p>
      {{/each}}
    </div>
  </div>

  <!-- Profile -->
{{>footer}}

