<!-- Navigation -->

<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">
        {{#if isLoggedIn}}
        <a class="navbar-brand" href="#/user/profile">
            <img src="./images/idea.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#/item/list">Dashboard</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" href="#/item/create">Create</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/user/logout">Logout</a>
                </li>
            </ul>
        </div>

        {{else}}
        <a class="navbar-brand" href="#/home">
            <img src="./images/idea.png" alt="">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#/user/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#/user/register">Register</a>
                </li>
            </ul>
        </div>
        {{/if}}

    </div>
</nav>

<!-- /Navigation -->


<!-- Notifications -->

<div id="notifications">
    <div style="display: none;" id="successBox" class="alert alert-success" role="alert"></div>
    <div style="display: none;" id="loadingBox" class="alert alert-info" role="alert">Loading...</div>
    <div style="display: none;" id="errorBox" class="alert alert-danger" role="alert"></div>
</div>

<!-- /Notifications -->
